body {
	font-family: 'Roboto', sans-serif;
	color: grey;
	background-image: url("../images/cover.jpg") /*copyright Hokki Chan 2019*/;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
}

footer {
	color: white;
	text-align: center;
	margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.col-lg-5 {
	background-color: rgba(0, 47, 108, 0.6);
	border-radius: 15px;
	margin-top: 8em;
}

.text{
	height:70vh;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}
