h3, p, li, h5 {
	color: grey;
}

p {
	font-style: italic;
	font-size: 110%;
}

#banner {
	background-image: url("../images/snow.jpg") /*copyright free image, image courtesy @ lutz6078 available at pixabay.com*/;
	background-position: center center;
	background-size: cover;
	height: 200px;
	margin-top: 2.5rem;
}
.title{
	color: rgba(0, 47, 108);
	font-weight: bold;
}