body {
	font-family: 'Roboto', sans-serif;
	color: blue;
	background-image: url("../images/home.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
}